{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "import"
  ],
  "rules": {
    "max-len": [
      "error",
      120,
      2,
      {
        "ignoreComments": true,
        "ignoreStrings": true
      }
    ],
    "react/prop-types": [
      2
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "linebreak-style": [
      0
    ],
    "operator-linebreak": [
      "error",
      "after"
    ],
    "import/prefer-default-export": [
      0
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.js",
          "**/*.spec.js",
          "**/*/stories/**/*.js"
        ]
      }
    ],
    "class-methods-use-this": [
      1,
      {
        "exceptMethods": [
          "render"
        ]
      }
    ]
  },
  "settings": {
    "import/extensions": [
      "error",
      "ignorePackages"
    ],
    "import/resolver": {
      "alias": {
        "map": [
          [
            [
              "@",
              "/Users/atvilelas/Documents/Development/react/react-laser-gun/src"
            ]
          ],
          [
            [
              "@Components",
              "/Users/atvilelas/Documents/Development/react/react-laser-gun/src/components"
            ]
          ],
          [
            [
              "@Constants",
              "/Users/atvilelas/Documents/Development/react/react-laser-gun/src/constants"
            ]
          ]
        ],
        "extensions": [
          ".ts",
          ".js",
          ".jsx",
          ".json"
        ]
      },
      "webpack": {
        "config": "./webpack.config.js"
      }
    },
    "react": {
      "version": "detect"
    },
    "babel-module": {}
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  }
}